.main {
  margin: 50px 30px;
  display: grid;
  grid-template-columns: 25% 75%;
}

.movies-container {
  margin-left: 20px;
}
.genre {
  margin-right: 200px !important;
}

.search-bar {
  width: 80%;
}

.addBtnGroup {
  float: right;
  width: 200px;
}
